openapi: 3.0.0
info:
  $ref: './components/info.yaml'
servers:
  - url: https://api.tateca.com
    description: Production server
  - url: https://staging-api.tateca.com
    description: Staging server
  - url: http://localhost:8080
    description: Local development server

paths:
  # Authentication
  /auth/users/{uid}:
    $ref: './paths/auth-users-uid.yaml'
  /auth/users:
    $ref: './paths/auth-users.yaml'
  
  # Users
  /users/{userId}:
    $ref: './paths/users-userId.yaml'
  
  # Groups
  /groups:
    $ref: './paths/groups.yaml'
  /groups/{groupId}:
    $ref: './paths/groups-groupId.yaml'
  /groups/list:
    $ref: './paths/groups-list.yaml'
  
  # Transactions
  /groups/{groupId}/transactions:
    $ref: './paths/groups-groupId-transactions.yaml'
  /groups/{groupId}/transactions/{transactionId}:
    $ref: './paths/groups-groupId-transactions-transactionId.yaml'
  /groups/{groupId}/transactions/history:
    $ref: './paths/groups-groupId-transactions-history.yaml'
  /groups/{groupId}/transactions/settlement:
    $ref: './paths/groups-groupId-transactions-settlement.yaml'
  
  # Exchange Rate
  /exchange-rate/{date}:
    $ref: './paths/exchange-rate-date.yaml'
  
  # Lambda
  /lambda:
    $ref: './paths/lambda.yaml'

components:
  parameters:
    $ref: './components/parameters/index.yaml'
  schemas:
    $ref: './components/schemas/index.yaml'
  responses:
    $ref: './components/responses/index.yaml'
  securitySchemes:
    $ref: './components/security.yaml'

security:
  - FirebaseAuth: []
  - ApiKeyAuth: []

tags:
  - name: Authentication
    description: User authentication and account management
  - name: Users
    description: User management operations
  - name: Groups
    description: Group management operations
  - name: Transactions
    description: Transaction management and history
  - name: Exchange Rate
    description: Currency exchange rate information
  - name: Lambda
    description: Lambda function endpoints